/* Import Normalize.css */
@import url('normalize.css');

/* Define CSS Variables */
:root {
  /* Text Colors */
  --text-primary: #333; /* Primary text color */
  --text-button: #fff; /* Button text color */

  /* Base Styling */
  --background: #f4f4f4; /* Background color for body */
  --background-white: #fff; /* White background for containers */
  --font-size-base: 16px; /* Base font size for rem calculation */
  --font-size-small: 14px; /* Base font size for rem calculation */
  --border-color: #ccc; /* Border color */
  --border-radius-medium: 0.5rem; /* Medium border radius */
  --border-radius-small: 0.25rem; /* Small border radius */
  --box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* Box shadow */
  --button-bg: #4169e1; /* Button background color */
  --button-bg-hover: #214ed3; /* Button hover background color */
  --container-width: 21.875rem; /* Container width */
  --font-primary: 'Lato', sans-serif; /* Primary font */
  --font-size-medium: 1.25rem; /* Medium font size */
  --output-bg: #f5f5f5; /* Background for output */
}

/* Import Lato font */
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Regular.ttf') format('ttf');
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/Lato-Bold.ttf') format('ttf');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* General Styles */
body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  height: 100vh;
  justify-content: center;
  margin: 0;
  color: var(--text-primary);
}

h1 {
  font-size: var(--font-size-medium);
  margin: 0;
}

button {
  background-color: var(--button-bg);
  border-radius: var(--border-radius-small);
  border: none;
  color: var(--text-button);
  cursor: pointer;
}

button:hover {
  background-color: var(--button-bg-hover);
}

/* Container */
.container {
  background: var(--background-white);
  padding: 1rem;
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  text-align: center;
  width: var(--container-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Controls */
.controls {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.row {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.controls input,
.controls select,
.controls button {
  border-radius: var(--border-radius-small);
  padding: 0.5rem;
}

.row input,
.row select {
  border: 1px solid #ccc;
  flex: 1;
}

.controls button {
  display: block;
  width: 100%;
}

/* Output */
#outputWrapper {
  position: relative;
}

#output {
  background: var(--output-bg);
  border-radius: var(--border-radius-small);
  height: 8rem;
  line-height: 1.5;
  margin: 0;
  overflow-y: auto;
  padding: 0.5rem;
  text-align: left;
}

#copy-button {
  display: flex;
  padding: 0.25rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

#copy-button svg {
  height: 1rem;
  width: 1rem;
}

#copy-button .copied {
  display: none;
  font-size: var(--font-size-small);
  margin-left: 0.5rem;
}

#copy-button.copied-active .copied {
  display: inline-block;
}
